h1 {
    text-align: center;
}

.cname {
    margin-top: 10px;
}

.modp {
    margin-top: 10px;
    padding: 30px;
}

p.outset {
    border-style: outset;
    padding: 50px;
    text-align: center;
    background-color: #0b2e13;
    color: #9fcdff;
    font-size: 50px;
}

.pic {
    height: 300px;
    width: 300px;
}

.preview {
    background-image: image("https://s3-us-west-2.amazonaws.com/s.cdpn.io/389177/bacon.jpg");
}

#image {
    line-height: 300px;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    margin: 0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
    background-size: 100%;
    margin-bottom: 25px;
    font-size: 150%;
}

element.alt {
    color: green;
    font: 40px Impact;
}
#jstext {
    text-align: center;
    font-size: 90px;
}